@CHARSET "UTF-8";

.indexTop {
	width: 33vw;
	height: 50%;
	top: 0px;
	position: relative;
	float: left;
	cursor: pointer;
}

.indexDown {
	width: 33vw;
	height: 50%;
	bottom: 0px;
	position: relative;
	float: left;
	cursor: pointer;
	
}

.shardMenu {
	border: 0.2vw solid white;
	background-color: rgba(219, 219, 219, 0.4);
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("../images/user_interface/Handsy.jpg");
	background-position: center center;
	background-size: cover;
	background-clip: content-box;
}

.indexTop p {
	text-align: center;
	width: 100%;
	position: relative;
	top: 17%;
	font: 30px tahoma, sans-serif;
	cursor: pointer;
	color: rgb(174, 1, 1);
}

.indexDown p {
	text-align: center;
	width: 100%;
	position: relative;
	top: 30%;
	font: 30px tahoma, sans-serif;
	color: rgb(56, 80, 46);
	cursor: pointer;
}

.grid {
	display: table;
	width: 600px;
	height: 450px;
	position: absolute;
	top: 445px;
	left: 317px;
	border: 0px;
}

.grid-row {
	display: table-row;
	width: 100%;
	cursor: pointer;
}

.grid-cell {
	display: table-cell;
	background-color: rgba(0, 0, 0, 0.23);
	border: 0.5px solid black;
}

.table {
	display: table;
	width: 100%;
	background-image: url("../images/user_interface/Handsy.jpg");
	background-position: center center;
	background-size: cover;
	background-clip: content-box;
}

.heading {
	display: table-row;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.content {
	display: table-row;
	width: 100%;
	cursor: pointer;
	text-align: center;
}

.content:hover {
	background-color: #71EE64;
}

.distress {
	display: table-cell;
	width: 8vw;
	background-color: rgba(219, 219, 219, 0.4);
}

.picture {
	display: table-cell;
	width: 10vw;
}

.details {
	display: table-cell;
	width: 72vw;
}

.participants {
	display: table-cell;
	width: 10vw;
}

.cell-with-border {
	border: solid;
	border-width: thin;
	background-color: rgba(219, 219, 219, 0.4);
}

.row-border {
	border-bottom: solid;
	border-width: thin;
}

.row-border-distress {
	border-left: solid;
	border-bottom: solid;
	border-width: thin;
}

.row-border-participants {
	border-right: solid;
	border-bottom: solid;
	border-width: thin;
}

.cell {
	display: table-cell;
}

.row {
	display: table-row;
}

.report-from-header {
	text-align: center;
	font: 30px tahoma, sans-serif;
	font-weight: bold;
}
.description-report {
	display: table-cell;
	width: 10%
}

.info-center-report {
	display: table-cell;
	width: 50%;
}

.participants-report {
	display: table-cell;
}

.title-row-report {
	display: table-row;
}

.title-report {
	display: table-cell;
	width: 10vw;
}

.title-insert-report {
	display: table-cell;
	width: 25vw;
}

.priority-report {
	display: table-cell;
	width: 10vw;
	text-align: center;
}

.priority-insert-report {
	display: table-cell;
	width: 10vw;
}

.participants-report {
	display: table-cell;
	text-align: center;
	width: 45vw;
}

.participants-list-report {
	display: table-cell;
	border: solid;
	border-width: thin;
	text-align: center;
}

.table-report {
	display: table;
	width: 100%;
}

.participants-table-report {
	display: table;
	float: left;
	width: 30%;
}

.table-row-report {
	display: table-row;
	width: 100%;
}

.table-column-report {
	display: table;
	float: left;
	width: 70%;
}

.description-row-report {
	display: table-row;
}

.description-report {
	display: table-cell;
	width: 9vw;
}

.description-insert-report {
	display: table-cell;
}

.pictures-row-report {
	display: table-row;
}

.pictures-report {
	display: table-cell;
}

.pictures-insert-report {
	display: table-cell;
}

.location-row-report {
	display: table-row;
}

.location-report {
	display: table-cell;
}

.location-insert-report {
	display: table-cell;
}